*.bundle.*
lib/
node_modules/
*.log
.eslintcache
.stylelintcache
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
jupyterlab_git/labextension
# Version file is handled by hatchling
jupyterlab_git/_version.py
src/version.ts
